@charset 'UTF-8';

:root{
    --corFont: #f1ecff;
    --corDegrade1: #f3e2c8;
    --corDegrade2: #e4cfa5;
    --corDegrade3: #c4a57a;
    --corBorda: #a67c52;
    --corEscuro: #141312;
    --corClaro: #f5f1ea;
    --corHover: #8351fe;
    --corScroll: #c08057;
    --corHoverScroll: #ad7754;
}

body {
    font-family: 'Yugioh', serif;
    background-image: url(../imagens/fundo-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    gap: 30px;
}

.cabecalho {
    display: flex;
    justify-content: center;
}

.cabecalho .titulo {
    color: var(--corFont);
}

.cartao {
    opacity: 0;
    display: flex;
    flex-direction: column;
    padding: 12px;
    gap: 5px;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

.cartao.selecionado {
    opacity: 1;
    z-index: 1;
}

.lista-personagem {
    width: 300px;
    height: 500px;
    border-radius: 10px;
    position: relative;
    padding: 12px;
}

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
}

.cartao .nome {
    font-size: 13px;
    padding: 5px;
    text-transform: uppercase;
    background: radial-gradient(circle, var(--corDegrade1), var(--corDegrade2), var(--corDegrade3));
    border-radius: 4px;
    border: 2px solid var(--corBorda);
}

.cartao .nivel-carta {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    gap: 5px;
}

.cartao .estrela {
    width: 20px;
    height: 20px;
    background-image: url(../imagens/nivel-carta.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}

.cartao .imagem-carta {
    max-width: 260px;
    align-self: center;
}

.cartao .informacoes {
    border-radius: 5px;
    border: 2px solid var(--corBorda);
    background: radial-gradient(circle, var(--corDegrade1), var(--corDegrade2), var(--corDegrade3));
    text-align: left;
    line-height: 1.5;
    color: var(--corEscuro);
    padding: 5px;
}

.cartao .informacoes .descricao {
    border-bottom: 1px solid var(--corEscuro);
    padding: 10px;
    max-height: 95px;
    overflow-y: scroll;
    font-size: 13px;
}

.cartao .informacoes .informacoes-ataque {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    padding: 10px;
}

.cartao .informacoes .informacoes-ataque span {
    font-size: 13px;
}

.fundo-1 {
    background: url(../imagens/fundo-1.jpg) no-repeat;
    border-radius: 10px;
}

.fundo-2 {
    background: url(../imagens/fundo-2.jpg) no-repeat;
    border-radius: 10px;
}

.fundo-3 {
    background: url(../imagens/fundo-3.jpg) no-repeat;
    border-radius: 10px;
}

.fundo-4 {
    background: url(../imagens/fundo-4.jpg) no-repeat;
    border-radius: 10px;
}

.fundo-5 {
    background: url(../imagens/fundo-5.jpg) no-repeat;
    border-radius: 10px;
}

.fundo-6 {
    background: url(../imagens/fundo-6.jpg) no-repeat;
    border-radius: 10px;
}

.fundo-7 {
    background: url(../imagens/fundo-7.jpg) no-repeat;
    border-radius: 10px;
}

.btn-seta {
    background-color: var(--corClaro);
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-seta:hover {
    background-color: var(--corHover);
}

.btn-seta.btn-prev {
    transform: rotateY(180deg);
}

body::-webkit-scrollbar-track {
    background-color: var(--corScroll);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--corScroll);
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--corHoverScroll);
}

.carta-virada {
    display: none;
}

.carta-virada.mostrar-fundo-carta {
    background: url(../imagens/fundo-carta.jpg);
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;
    border-radius: 10px;
    z-index: 2;
}

.cartao.virar {
    transform: rotateZ(90deg);
}

.esconder {
    display: none;
}